.badge {
  background-color: tomato;
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.badge-find {
  position: absolute;
  width: 7px;
  height: 7px;
  right: -10px;
  top: -5px;
}

.badge__none {
  background-color: beige;
  width: 1px;
}
